#tournament-add-player-container {
	display: none;
	position: absolute;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2vh;
	/* background-color: var(--dark-lavender); */
	background-color: var(--dark-lavender);
	padding: 1vh;
	border-radius: 10px;
	border: 2px var(--dark-purple) solid;
	border-bottom: 4px var(--dark-purple) solid;
	width: fit-content;
	min-width: 250px;
	height: 13%;
	min-height: 100px;
}

#AddConntectedPlayerContent {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

#tournament-button-toggle-add-player-container {
	z-index: 1;
}

#tournament-player-pin-container {
	width: 15% !important;
	min-width: 50px !important;
}

/* ------------------------------- */

#tournament-add-guest-span {
	background: var(--lavender);
}

.guest-card {
	background-color: var(--lavender) !important;
}

#tournament-container-add-player-span {
	background: var(--violet);
}

.host-card {
	background-color: var(--violet) !important;
}

.player-card {
	background-color: var(--violet) !important;
}

#tournament-add-ai-span {
	background: var(--dark-lavender);
}

.ai-card {
	background-color: var(--dark-lavender) !important;
}

#tournament_button_add_player {
	width: 20% !important;
}

#tournament-add-player-span {
	padding: 0;
}

/* ================================= */
/* 
#tournament-add-player-container .input-container input[type="text" ], .input-container input[type="password"] {
	color: var(--dark-purple);
}

#tournament-add-player-container .input {
	border-bottom: 1px solid var(--blue);
}


#tournament-add-player-container .input ~ .focus-border {
	background-color: var(--lavender);
}

#tournament-add-player-container .input ~ label {
	color: var(--dark-violet);
}

#tournament-add-player-container .input:focus ~ label, .has-content.input ~ label {
	color: var(--lavender);
} */

/* ================================= */

@keyframes sliderFromAbove {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

#tournament-add-player-container.appear {
	animation: sliderFromAbove 0.5s ease-in-out;
}

@keyframes reverseSliderFromAbove {
	from {
		opacity: 1;
		transform: translateY(0);
	}

	to {
		opacity: 0;
		transform: translateY(-100%);
	}
}

#tournament-add-player-container.disappear {
	animation: reverseSliderFromAbove 0.5s ease-in-out;
}

/* ================================= */

#tournamement_list_container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	align-items: center;

	/* background-color: #b56d9b; */
	background-color: var(--violet);

	border-radius: 20px;

	width: 100%;
	height: 100%;

	max-height: 450px;
}

#TournamentButtonsContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	/* background-color: var(--violet); */
	/* height: 43vh; */

	width: 20%;
	height: 100%;
}

#PlayerGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* 4 columns */
	gap: 10px;
	row-gap: 50px;
	height: 100%;
	width: 65%;

	border-radius: 20px;

	padding-left: 10px;
	padding-right: 10px;

	place-items: center;
	place-content: center;
	/* max-width: 600px; */
	/* margin: 20px auto; */
	position: relative;
	/* background-color: var(--violet); */
}

.tournament-card {
	background-color: #fff;
	border: 1px solid #ddd;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 150%;
	width: 100%;

	/* border: 1px solid #c82333; */
	border: 2px var(--dark-purple) solid;
	border-bottom: 4px var(--dark-purple) solid;

	/* padding: 10%; */
	/* text-align: center; */
	text-wrap: nowrap;
	/* text-justify: auto */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	opacity: 0;
	position: relative;
	font-weight: bold;
}

.tournament-card.show {
	opacity: 1;
}

.tournament-card:hover {
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease;
}


.card-delete-button {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 10px;
	right: 10px;
}

.card-delete-button:hover {
	transition: transform 0.3s;
	transform: scale(1.05);
}

/* Debug output styles */
.debug-output {
	margin-top: 20px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	width: 80%;
	max-width: 600px;
	font-family: monospace;
	white-space: pre-wrap;
	overflow-x: auto;

	display: none;
}

#tournament-form {
	min-width: 1000px;
	min-height: 700px;
}

#tournament_validate_button {
	width: 10%;
	justify-content: center;
}
