.env
backend/*/.env
backend/*/*/.env
backend/*/*/__pycache__
backend/*/*/*/__pycache__
backend/*/*/migrations
backend/vault/data/*.crt
backend/users/media/profile_pictures/*
!backend/users/media/profile_pictures/default.jpg