.friends-list {
	overflow: scroll;
	scroll-behavior: smooth;
	scrollbar-color: black grey;
	scrollbar-width: thin;
	max-height: 60%;
	padding-right: 10px;
}

.friend-div {
	width: 100%;
	margin-bottom: 5px;
	margin-right: 5px;
	border: 3px solid #725330;
	border-radius: 2vh;
}

.friend-div:hover {
	border: 3px solid #634829;
	background-color: #72533085;
	box-shadow: inset 3px 3px 3px #725330;
}

.profil-pic {
	align-self: center;
	justify-self: center;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	aspect-ratio: 1/1;
	padding: 5px;
}

.friend-container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.friend-text {
	height: 100%;
	display: flex;
	align-items: center;
	font-size: large;
	overflow: hidden;
	white-space: nowrap;
}

.friend-online-dot {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-height: 25px;
	max-width: 25px;
}

.button-add-friend {
	max-height: 50%;
	margin-left: 10px;
}

.friend-title
{
	min-height: 50px;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.friend-text-title
{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.6;
	color: #cccccc;
	margin-top: auto;
	margin-bottom: auto;
}

.popup-add-friend
{
	position: absolute;
	width: 30vw;
	min-height: 50px;
	max-width: 300px;
	border-radius: 1vh;
	border: solid thin black;
	background-color: #cccccc;
	display: flex;
	align-items: center;
}

.add-friend-pseudo-input
{
	margin-right: auto;
	margin-left: 5%;
	width: 70%;
	max-width: 200px;
}

.add-friend-popup-button
{
	margin-left: auto;
	margin-right: 5%;
	position: relative;
	left: 2%;

	background-color: blueviolet;
}

.add-friend-popup-button:hover
{
	background-color: blue;
}
.add-friend-popup-button:focus
{
	background-color: red;
}