{% extends '_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Welcome, {{ user.email }}!
  {% if user.profile_picture %}
    <img src="{{ user.profile_picture.url }}" alt="Profile Picture" style="width: 250px; height: 188px;">
  {% else %}
    <!-- Fallback or alternative content when there's no profile picture -->
    <div>No Profile Picture</div>
  {% endif %}
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Log Out</button>
  </form>
  <p><a href="{% url 'update-profile' %}">Update Profile</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
