.prof-req-container
{
	flex: 1;
	overflow-y: scroll;
	scroll-behavior: smooth;
	min-height: 50px;
	max-height: 27%;
	width: 100%;
}

.prof-req-sub-container
{
	display: grid;
	box-shadow: inset 1px 1px 25px 1px var(--lavender), inset -1px -1px 25px 1px var(--lavender);
	grid-template-columns: 2fr 1fr 1fr;
	margin-bottom: 1px;
	border: 3px solid var(--lavender);
	border-radius: 5px;
	background-color: var(--violet);
	transition: 0.5s;
}

.prof-req-sub-container:hover
{
	border: 3px solid var(--violet);
	background-color: var(--pink);
	box-shadow: inset 1px 1px 5px 1px var(--violet), inset -1px -1px 5px 1px var(--violet);
}

.prof-req-pseudo
{
	height: 100%;
	display: flex;
	justify-content: left;
	margin-left: 10%;
	align-items: center;
	overflow: hidden;
	white-space: nowrap;
	color: var(--dark-purple);
}

.prof-req-accept-button
{
	height: 80%;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	overflow: hidden;
	color: var(--lavender);
	background-color: var(--pink);
	border: thin solid var(--dark-purple);
}

.prof-req-accept-button:hover, .prof-req-accept-button:focus
{
	color: var(--lavender);
	background-color: var(--pink);
	border: thin solid var(--dark-purple);
	transition: 0.1s;
	transform: scale(1.05);
}

.prof-req-accept-button:not(:disabled):active
{
	color: var(--lavender);
	background-color: var(--pink);
	border: thin solid var(--dark-purple);
	transition: 0.1s;
	transform: scale(1.05);
}

.prof-req-reject-button
{
	height: 80%;
	width: 90%;
	display: flex;
	justify-content: center;
	align-self: center;
	align-items: center;
	overflow: hidden;
	color: var(--lavender);
	background-color: var(--blue);
	border: thin solid var(--dark-purple);
}

.prof-req-reject-button:focus, .prof-req-reject-button:hover
{
	color: var(--lavender);
	background-color: var(--blue);
	border: thin solid var(--dark-purple);
	transition: 0.1s;
	transform: scale(1.05);
}

.prof-req-reject-button:not(:disabled):active
{
	color: var(--lavender);
	background-color: var(--blue);
	border: thin solid var(--dark-purple);
	transition: 0.1s;
	transform: scale(1.05);
}
