.prof-friends-list {
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
	max-height: 60%;
	min-height: 25px;
}

::-webkit-scrollbar {
	width: 8px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--medium-violet);
	border-radius: 8px;
}

.prof-friend-div {
	width: 100%;
	margin-bottom: 5px;
	margin-right: 5px;
	border: 3px solid var(--lavender);
	background-color: var(--violet);
	box-shadow: inset 1px 1px 25px 1px var(--lavender), inset -1px -1px 25px 1px var(--lavender);
	border-radius: 10px;
	transition: 0.5s;
}

.prof-friend-div:hover {
	border: 3px solid var(--violet);
	background-color: var(--pink);
	box-shadow: inset 1px 1px 5px 1px var(--violet), inset -1px -1px 5px 1px var(--violet);
}

.prof-profile-pic {
	align-self: center;
	justify-self: left;
	width: 65%;
	object-fit: cover;
	border-radius: 50%;
	aspect-ratio: 1/1;
	border: 2px solid var(--dark-purple);
	margin: 5px;
}

.prof-friend-container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.prof-friend-text {
	color: var(--dark-purple);
	height: 100%;
	display: flex;
	align-items: center;
	font-size: large;
	overflow: hidden;
	white-space: nowrap;
}

.prof-online-dot-div {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-content: center;
	justify-content: space-evenly;
}

.prof-friend-online-dot {
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 30%;
	border: 1px solid var(--dark-purple);
	border-radius: 50%;
}

.prof-friend-online-dot:hover {
	transform: scale(1.05);
}

.prof-confirm-remove-friend {
	cursor: pointer;
	margin-top: auto;
	margin-bottom: auto;
	width: 25%;
	aspect-ratio: 1/1;
}

.prof-confirm-remove-friend:hover {
	transform: scale(1.05)
}