.prof-friends-list {
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
	max-height: 60%;
	min-height: 50px;
}

.prof-friends-list::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.prof-friends-list::-webkit-scrollbar-thumb {
	background: rgba(172, 172, 172, 0.5);
	border-radius: 8px;
}

.prof-friend-div {
	width: 100%;
	margin-bottom: 5px;
	margin-right: 5px;
	border: 3px solid #725330;
	border-radius: 10px;
}

.prof-friend-div:hover {
	border: 3px solid #634829;
	background-color: #72533085;
	box-shadow: inset 3px 3px 3px #725330;
}

.prof-profil-pic {
	align-self: center;
	justify-self: left;
	width: 65%;
	object-fit: cover;
	border-radius: 50%;
	aspect-ratio: 1/1;
	border: 2px solid #684b2b;
	margin: 5px;
}

.prof-friend-container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.prof-friend-text {
	height: 100%;
	display: flex;
	align-items: center;
	font-size: large;
	overflow: hidden;
	white-space: nowrap;
	text-shadow: 2px 2px 2px #684a2b;
}

.prof-online-dot-div {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-content: center;
	justify-content: space-evenly;
}

.prof-friend-online-dot {
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 25%;
}

.prof-friend-online-dot:hover {
	transform: scale(1.05);
}

.prof-confirm-remove-friend {
	cursor: pointer;
	margin-top: auto;
	margin-bottom: auto;
	width: 25%;
	aspect-ratio: 1/1;
	text-shadow: 2px 2px 2px #684a2b;
}

.prof-confirm-remove-friend:hover {
	transform: scale(1.05)
}