.button-add-friend {
	max-height: 50%;
	margin-left: 10px;
	transition: transform 1s;
}

.button-add-friend:hover {
	transform: rotate(90deg);
}

.button-add-friend:focus {
	transform: rotate(90deg);
}

.friend-title
{
	min-height: 50px;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.friend-text-title
{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.6;
	color: #cccccc;
	margin-top: auto;
	margin-bottom: auto;
	text-shadow: 2px 2px 3px #5c4326;
}

.popup-add-friend
{
	position: absolute;
	width: 30vw;
	min-height: 50px;
	max-width: 300px;
	border-radius: 1vh;
	border: solid thin black;
	background-color: #cccccc;
	display: flex;
	align-items: center;
}

.add-friend-pseudo-input
{
	margin-right: auto;
	margin-left: 5%;
	width: 70%;
	max-width: 200px;
}

.add-friend-popup-button
{
	margin-left: auto;
	margin-right: 5%;
	position: relative;
	left: 2%;

	background-color: blueviolet;
}

.add-friend-popup-button:hover
{
	background-color: blue;
}
.add-friend-popup-button:focus
{
	background-color: red;
}
