#smd-main-div
{
	height: 100vh;
	padding: 10px;
	background:var(--lavender);
	min-height: 425px;
}

#smd-short-profile-div
{
	display: flex;
	width: 100%;
	height: 20%;
}

#smd-user-guest
{
	width: 60%;
	padding: 10px;
	margin: 0;
	font-size: 2em;
	color: var(--dark-purple);
}

#smd-disconnected-pp-div
{
	position: relative;
	width: 40%;
}

#smd-disconnected-pp
{
	width: 100%;
	position: relative;
	aspect-ratio: 1/1;
	border-radius: 50%;
	object-fit: cover;
}

.sm-astronaut-div
{
	position: relative;
	flex-grow: 1;
	height: 50%;
	width: 100%;
}

.sm-astronaut {
	position: absolute;
	left: 0%;
	top: 25%;
	animation: rotate-astronaut 30s linear infinite, bounce-astronaut 30s linear infinite;
}

@keyframes bounce-astronaut {
	0% { left: calc(0% - 10px); top: calc(25%) }
	12.5% { left: 45%; top: 0% }
	25.4% { left: calc(100% - 95px); top: 20% }
	47.1% { left: calc(0% - 7px); top: 40% }
	67.7% { left: calc(100% - 98px); top: 60% }
	78.3% { left: 50%; top: calc(100% - 80px) }
	100% { left: calc(0% - 10px); top: 25% }
}

@keyframes rotate-astronaut {
	0% {
		rotate: 0deg;
	}
	100% {
		rotate: 360deg;
	}
}

#smd-buttons-div
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 30%;
}

#smd-login-button
{
	position: relative;
	width: 85%;
	height: 22%;
	min-height: 45px;
	min-width: 170px;
	font-size: 2em;
	margin-bottom: 15%;
}

#smd-register-button
{
	position: relative;
	width: 85%;
	height: 22%;
	min-height: 45px;
	min-width: 170px;
	font-size: 2em;
	margin-bottom: 20%;
}