{% load static %}

<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" href="{% static 'pong/scripts/style.css' %}"/> -->
	<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAgoeHACDX6AAgIOgAAwMDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEREREAAAABBERERFAAABBERERERQAAEFEERMxFAAARERBEzEUAABEREEREzQAAEFEERETNAAAQREREREUAABBEiIiIRQAAEEiIiIiFAAAQSIiIiIUAABBIiIiIhQAAEEiIiIiFAAAQRIiIiEUAAAEEREREUAAAABEREREAADwDwAA4AcAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAOAHAADwDwAA" rel="icon" type="image/x-icon">
	<title>Custom Pong</title>

	<script>
		var static_url = "{% get_static_prefix %}";
	</script>
	<script src="{% static 'pong/scripts/phaser.min.js' %}"></script>

	<!-- shared between scene -->
	<script src="{% static 'pong/scripts/shared_between_scenes/Texture.js' %}"></script>
	<script src="{% static 'pong/scripts/shared_between_scenes/SceneTexture.js' %}"></script>

	<!-- scene boot -->
	<script src="{% static 'pong/scripts/scene_boot/SceneBoot.js' %}"></script>

	<!-- scene play -->
		<!-- objects -->
	<script src="{% static 'pong/scripts/scene_play/objects/Ball.js' %}"></script>
	<script src="{% static 'pong/scripts/scene_play/objects/Paddle.js' %}"></script>
	<script src="{% static 'pong/scripts/scene_play/objects/AlignedText.js' %}"></script>
	<script src="{% static 'pong/scripts/scene_play/objects/Score.js' %}"></script>
	<script src="{% static 'pong/scripts/scene_play/objects/PlayBackground.js' %}"></script>
			<!-- borders -->
	<script src="{% static 'pong/scripts/scene_play/objects/borders/AbstractBorder.js' %}"></script>
	<script src="{% static 'pong/scripts/scene_play/objects/borders/DeathBorder.js' %}"></script>
	<script src="{% static 'pong/scripts/scene_play/objects/borders/BounceBorder.js' %}"></script>
			<!-- clock -->
	<script src="{% static 'pong/scripts/scene_play/objects/clock/AbstractClock.js' %}"></script>
	<script src="{% static 'pong/scripts/scene_play/objects/clock/Timer.js' %}"></script>
	<script src="{% static 'pong/scripts/scene_play/objects/clock/Chronometer.js' %}"></script>
		<!-- scene -->
	<script src="{% static 'pong/scripts/scene_play/ScenePlay.js' %}"></script>

	<!-- scene game finished -->
	<script src="{% static 'pong/scripts/scene_game_finished/SceneGameFinished.js' %}"></script>

	<script src="{% static 'pong/scripts/game.js' %}"></script>

</head>
<body>
	<p>Pong</p>
	<div id="phaser_pong_game" style="width:100vw; height: 50vh"></div>
	<p>after pong</p>
</body>
</html>