{% load static %}

<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" href="{% static 'pong/scripts/style.css' %}"/> -->
	<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAgoeHACDX6AAgIOgAAwMDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEREREAAAABBERERFAAABBERERERQAAEFEERMxFAAARERBEzEUAABEREEREzQAAEFEERETNAAAQREREREUAABBEiIiIRQAAEEiIiIiFAAAQSIiIiIUAABBIiIiIhQAAEEiIiIiFAAAQRIiIiEUAAAEEREREUAAAABEREREAADwDwAA4AcAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAOAHAADwDwAA" rel="icon" type="image/x-icon">
	<title>Custom Pong</title>

	<script>
		var static_url = "{% get_static_prefix %}";
	</script>
    <script src="{% static 'pong/scripts/phaser.min.js' %}"></script>
    <script src="{% static 'pong/scripts/Texture.js' %}"></script>
    <script src="{% static 'pong/scripts/Ball.js' %}"></script>
    <script src="{% static 'pong/scripts/Paddle.js' %}"></script>
    <script src="{% static 'pong/scripts/AbstractBorder.js' %}"></script>
    <script src="{% static 'pong/scripts/DeathBorder.js' %}"></script>
    <script src="{% static 'pong/scripts/BounceBorder.js' %}"></script>
    <script src="{% static 'pong/scripts/AlignedText.js' %}"></script>
    <script src="{% static 'pong/scripts/Score.js' %}"></script>
    <script src="{% static 'pong/scripts/AbstractClock.js' %}"></script>
    <script src="{% static 'pong/scripts/Timer.js' %}"></script>
    <script src="{% static 'pong/scripts/Chronometer.js' %}"></script>
    <script src="{% static 'pong/scripts/SceneBoot.js' %}"></script>
    <script src="{% static 'pong/scripts/ScenePlay.js' %}"></script>
    <script src="{% static 'pong/scripts/SceneGameFinished.js' %}"></script>
    <script src="{% static 'pong/scripts/game.js' %}"></script>

</head>
<body>
	<p>Pong</p>
	<div id="phaser_pong_game" style="width:100vw; height: 50vh"></div>
	<p>after pong</p>
</body>
</html>