{% load static %}

<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" href="{% static 'pong/scripts/style.css' %}"/> -->
	<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAgoeHACDX6AAgIOgAAwMDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEREREAAAABBERERFAAABBERERERQAAEFEERMxFAAARERBEzEUAABEREEREzQAAEFEERETNAAAQREREREUAABBEiIiIRQAAEEiIiIiFAAAQSIiIiIUAABBIiIiIhQAAEEiIiIiFAAAQRIiIiEUAAAEEREREUAAAABEREREAADwDwAA4AcAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAOAHAADwDwAA" rel="icon" type="image/x-icon">
	<title>Custom flappy_fish</title>

	<script>
		var static_url = "{% get_static_prefix %}";
	</script>
    <script src="{% static 'flappy_fish/scripts/tools.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/phaser.min.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/Texture.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/SceneTexture.js' %}"></script>

    <script src="{% static 'flappy_fish/scripts/game_objects/PipePair.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/game_objects/PipePairsPool.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/game_objects/Player.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/game_objects/Ground.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/game_objects/Ceiling.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/game_objects/Background.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/game_objects/StartingLine.js' %}"></script>

    <script src="{% static 'flappy_fish/scripts/textboard/clock/AbstractClock.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/textboard/clock/Timer.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/textboard/clock/Chronometer.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/textboard/scores/AlignedText.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/textboard/scores/ScoreText.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/textboard/scores/Score.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/textboard/Textboard.js' %}"></script>
    
    <script src="{% static 'flappy_fish/scripts/scenes/SceneBoot.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/scenes/ScenePlay.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/scenes/SceneGameFinished.js' %}"></script>

    <script src="{% static 'flappy_fish/scripts/scenes/SceneTest.js' %}"></script>

    <script src="{% static 'flappy_fish/scripts/game.js' %}"></script>
    <script src="{% static 'flappy_fish/scripts/main.js' %}"></script>

</head>
<body>
	<p>flappy_fish</p>
	<div id="phaser_flappy_fish_game" style="width:100vw; height: 70vh"></div>
	<p>after flappy_fish</p>
</body>
</html>