{% load static %}

<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" href="{% static 'pong/scripts/style.css' %}"/> -->
	<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAgoeHACDX6AAgIOgAAwMDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEREREAAAABBERERFAAABBERERERQAAEFEERMxFAAARERBEzEUAABEREEREzQAAEFEERETNAAAQREREREUAABBEiIiIRQAAEEiIiIiFAAAQSIiIiIUAABBIiIiIhQAAEEiIiIiFAAAQRIiIiEUAAAEEREREUAAAABEREREAADwDwAA4AcAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAOAHAADwDwAA" rel="icon" type="image/x-icon">
	<title>Custom flappy_fish</title>

	<script>
		var static_url = "{% get_static_prefix %}";
	</script>
	<script src="{% static 'flappy_fish/scripts/tools.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/phaser.min.js' %}"></script>

	<!-- Shared between scenes -->
	<script src="{% static 'flappy_fish/scripts/shared_between_scene/AbstractVerticallyScaledTileSprite.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/shared_between_scene/Button.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/shared_between_scene/Texture.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/shared_between_scene/SceneTexture.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/shared_between_scene/TimeDisplay.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/shared_between_scene/EntitledTimeDisplay.js' %}"></script>

	<!-- SceneBoot -->
	<script src="{% static 'flappy_fish/scripts/scene_boot/SceneBoot.js' %}"></script>

	<!-- SceneMenu -->
		<!-- objects -->
	<script src="{% static 'flappy_fish/scripts/scene_menu/objects/MenuBackground.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/scene_menu/objects/MenuGround.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/scene_menu/objects/MenuCeiling.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/scene_menu/objects/PlayerDescription.js' %}"></script>
		<!-- scene -->
	<script src="{% static 'flappy_fish/scripts/scene_menu/SceneMenu.js' %}"></script>

	<!-- scene_play -->
		<!-- objects -->
	<script src="{% static 'flappy_fish/scripts/scene_play/game_objects/PipePair.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/scene_play/game_objects/PipePairsPool.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/scene_play/game_objects/Player.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/scene_play/game_objects/PlayGround.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/scene_play/game_objects/PlayCeiling.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/scene_play/game_objects/PlayBackground.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/scene_play/game_objects/StartingLine.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/scene_play/game_objects/PlayerExplosion.js' %}"></script>
		<!-- Textboard -->
	<script src="{% static 'flappy_fish/scripts/scene_play/textboard/clock/AbstractClock.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/scene_play/textboard/clock/Timer.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/scene_play/textboard/clock/Chronometer.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/scene_play/textboard/scores/AlignedText.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/scene_play/textboard/scores/ScoreText.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/scene_play/textboard/scores/Score.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/scene_play/textboard/Textboard.js' %}"></script>
		<!-- scene -->
		<script src="{% static 'flappy_fish/scripts/scene_play/ScenePlay.js' %}"></script>

	<!-- scene game finished -->
		<!-- objects -->
		<script src="{% static 'flappy_fish/scripts/scene_game_finished/objects/Confetti.js' %}"></script>
		<script src="{% static 'flappy_fish/scripts/scene_game_finished/objects/GameFinishedCeiling.js' %}"></script>
		<script src="{% static 'flappy_fish/scripts/scene_game_finished/objects/GameFinishedBackground.js' %}"></script>
		<script src="{% static 'flappy_fish/scripts/scene_game_finished/objects/GameFinishedGround.js' %}"></script>
		<script src="{% static 'flappy_fish/scripts/scene_game_finished/objects/PlayerRecapPanel.js' %}"></script>
		<!-- scene -->
	<script src="{% static 'flappy_fish/scripts/scene_game_finished/SceneGameFinished.js' %}"></script>

	
	<script src="{% static 'flappy_fish/scripts/game.js' %}"></script>
	<script src="{% static 'flappy_fish/scripts/main.js' %}"></script>

</head>
<body>
	<p>flappy_fish</p>
	<div id="phaser_flappy_fish_game" style="width:100vw; height: 70vh"></div>
	<p>after flappy_fish</p>
</body>
</html>