.prof-stats-div {
	display: flex;
	height: 100%;
	width: 100%;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

.prof-vertical-stats-line {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 40px;
	bottom: 40px;
	height: 320px;
	border-radius: 10px;
	border: 2px solid var(--lavender);
	background-color: var(--lavender);
}

.prof-stats-pong-div {
	height: 100%;
	width: 50%;
}

.prof-stats-flappy-div {
	height: 100%;
	width: 50%;
}

.prof-stats-container-div {
	background-color: var(--violet);
	border: 4px solid var(--lavender);
	display: flex;
	border-radius: 20px;
	margin: 2%;
	margin-top: 0.5%;
	margin-bottom: 1.5%;
	min-height: 90px;
	height: 24%;
	overflow: hidden;
}

.prof-stats-container-left {
	container-type: inline-size;
	display: flex;
	flex-direction: column;
	background-color: var(--pink);
	border-radius: 10px 0 0 10px;
	width: 40%;
}

@container (max-width: 80px)
{
	.prof-stats-container-name
	{
		display: none;
	}
}

.prof-stats-container-right {
	background-color: var(--violet);
	border-radius: 0 10px 10px 0;
	width: 60%;
	margin: auto;
}

.prof-stats-container-picture {
	margin: auto;
	align-self: center;
	justify-self: center;
	object-fit: scale-down;
	border-radius: 5px;
	max-width: 100%;
	height: 70%;
	max-height: 70%;
}

.prof-stats-container-name {
	font-size: small;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
	color: var(--lavender);
}

.prof-stats-stat-text {
	font-size: 2em;
	text-align: center;
	margin: 0;
}
