#main-title
{
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
}

#main-div
{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#input-fields-div
{
	display: flex;
	flex-direction: column;
	width: 210px;
}

#profile-edit-div
{
	display: flex;
}

#profile-edit-img
{
	width: 100px;
	object-fit: cover;
	border-radius: 50%;
	aspect-ratio: 1/1;
}

#profile-edit-emoji
{
	align-self: end;
	margin: 0;
}

#profile-edit-text-button
{
	align-self: end;
	margin: 0;
	cursor: pointer;
}

#informations-edit-text
{
	width: 100%;
	margin: 0;
}

#information-edit-collapse-div
{
	margin-top: 10px;
}

#input-pin
{
	width: 20%;
	margin-bottom: 10px;
}

#profile-edit-text-button:hover
{
	text-decoration: underline;
}

#password-edit-div
{
	display: flex;
	flex-direction: column;
}

#password-edit-text
{
	cursor: pointer;
	margin: 0;
}
