#main-title
{
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
}

#main-div
{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
}

#input-fields-div
{
	display: flex;
	flex-direction: column;
	width: 210px;
}

#picture-img
{
	cursor: pointer;
	width: 100px;
	object-fit: cover;
	border-radius: 50%;
	aspect-ratio: 1/1;
}

#picture-edit-img
{
	cursor: pointer;
	z-index: 1;
	position: relative;
	top: 35px;
	right: 33px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

#informations-edit-text
{
	cursor: pointer;
	width: 100%;
	margin: 0;
}

#information-edit-collapse-div
{
	margin-top: 10px;
}

.input-class
{
	margin-bottom: 10px;
}

#input-pin
{
	width: 20%;
	margin-bottom: 10px;
}

#password-edit-div
{
	display: flex;
	flex-direction: column;
}

#password-edit-text
{
	cursor: pointer;
	margin: 0;
}
