.prof-history-scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
	max-height: 100%;
	min-height: 50px;
	min-width: 450px;
	max-width: 100%;
	border: 5px solid var(--lavender);
	border-radius: 0vw 1vw 1vw 1vw;
	background-color: var(--violet);
}

.prof-history-scroll::-webkit-scrollbar {
	width: 8px;
}

.prof-history-scroll::-webkit-scrollbar-thumb {
	background: var(--medium-violet);
	border-radius: 8px;
	scrollbar-gutter: 0;
	padding: 15px;
	height: 10%;
}

#history_list {
	margin: 4px;
}

.prof-history-elem-div {
	margin-bottom: 4px;
	
	display: flex;
	align-items: center;
	
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
	border: 2px solid var(--lavender);
	border-radius: 1vw;
	width: 100%;
	max-width: 100%;
}

.prof-text-victory {
	color: var(--lavender);
	margin: 0px;
	text-shadow: 1px 1px 1px var(--dark-purple);
	font-size: 1.5em;
	font-weight: bolder;
	width: 20%;
	overflow: hidden;
	min-width: fit-content;
	text-align: center;
}

.prof-score-div {
	display: flex;

	width: 60%;
	overflow: hidden;
	font-size: 0.8em;
}

.prof-score-left {
	width: 45%;
	margin-top: 0px;
	margin-bottom: 0px;

	color: var(--lavender);
	text-align: right;

	text-shadow: 1px 1px 1px var(--dark-purple);
}

.prof-score-mid {
	width: 10%;
	margin-top: 0px;
	margin-bottom: 0px;

	color: var(--lavender);
	text-align: center;

	text-shadow: 1px 1px 1px var(--dark-purple);
}

.prof-score-right {
	width: 45%;
	color: var(--lavender);
	text-align: left;

	text-shadow: 1px 1px 1px var(--dark-purple);
}

.prof-date-duration-div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	color: var(--lavender);
	height: 5em;
	margin: 0px;
	width: 20%;
	text-shadow: 1px 1px 1px var(--dark-purple);
	font-size: 0.8em;
	overflow: hidden;
}

.prof-date-text {
	text-align: center;
	overflow: hidden;
}

.prof-time-text {
	margin: 0;
	text-align: center;
	overflow: hidden;
}

#prof-tabs-history {
	display: flex;
}

.prof-tab-text {
	white-space: nowrap;
	margin-right: 2px;
	margin-bottom: 0px;
	border: 5px solid var(--lavender);
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	border-collapse: collapse;
	cursor: pointer;
}
